__pycache__/
*.pyc
.DS_Store
.vscode-upload.json

venv/
.venv/
backend/venv/

node_modules/
frontend/node_modules/
dist/
frontend/dist/

.env
*.env
backend/.env
backend/.env.save
.streamlit/secrets.toml

backend/vectorstore/*
!backend/vectorstore/.gitkeep
