streamlit==1.41.1
python-dotenv==1.0.1

langchain==0.3.13
langchain-core==0.3.28
langchain-community==0.3.13
langchain-groq==0.2.2
langchain-text-splitters==0.3.4

faiss-cpu==1.9.0.post1
pypdf==5.1.0
sentence-transformers==3.3.1
